.entry {
    text-align: center;
    font-weight: 600;
    font-size: 1.0em;
    margin: 1em;
    margin-bottom: 3em;
}

.entries {
    overflow: scroll !important;
    margin-bottom: auto;
}

.entry-version {
    background-color: #803b34;
    padding: 0.1em 0.6em;
    border-radius: 0.5em;
    margin: 0em, 0.5em;
}